<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{#each errors}}
      <p style="color: red">{{message}}</p>
    {{/each}}
    {{#each successes}}
      <p style="color: green">{{message}}</p>
    {{/each}}
    {{{body}}}
  </body>
</html>
