<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New To Do</title>
  </head>
  <body>
    <h1>Create a new To Do</h1>

    <form  action="/new" method="post">
      <label for="item">Item:</label>
      <input type="text" name="item" placeholder="Walk The Dog">
      <br>
      <label for="priority">Priority:</label>
      <input type="number" name="priority" placeholder="6">

      <button type="submit" name="button">Create</button>
    </form>
  </body>
</html>
